.scroll-box {
    max-height: 450px; /* ajusta la altura según necesites */
    overflow-y: auto;  /* activa el scroll vertical */
    overflow-x: hidden; /* evita scroll horizontal */
    padding-right: 5px; /* espacio para que no tape el scroll */
  }
  #botonCursos {
    float: left;
    font-size: 11px;
    color: #fff;
    background: rgb(219,138,222);
    background: linear-gradient(-145deg, rgba(0, 207, 255,1) 0%, rgba(0, 156, 255,1) 100%);
    padding: 11px 30px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s;
    transition: all .3s;
    border: none;
    outline: none;
    margin-top: 15px;  
  }
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 60px;
    bottom:25px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
  text-decoration: none;
  color: #25D366;
  background-color: #fff;
}