.scroll-box {
    max-height: 450px; /* ajusta la altura según necesites */
    overflow-y: auto;  /* activa el scroll vertical */
    overflow-x: hidden; /* evita scroll horizontal */
    padding-right: 5px; /* espacio para que no tape el scroll */
  }